*, *::after, *::before {box-sizing: border-box;}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.green-bg {
    background-color: greenyellow;
}

.red-text {
    color: red;
}

nav ul {
    text-align: center;
}
nav li {
    display: inline-block;
    margin-left: 0.25em;
    margin-right: 0.25em;
}
nav a {
    font-weight: 600;
    text-decoration: none;
    padding: 0.4em 0.6em;
    background-color: aqua;
}
